<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script src="/static/lib/jquery/dist/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/lib/bootstrap-datepicker-1.6.1-dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/lib/underscore/underscore-min.js"></script>
    <link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-datepicker-1.6.1-dist/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.css.map">

    <script src="/static/lib/underscore/underscore-min.js"></script>
    <script src="/static/lib/react/react.min.js"></script>
    <script src="/static/lib/react/react-dom.min.js"></script>
    <script src="/static/lib/babel/browser.min.js"></script>
    <script src="/static/lib/marked/marked.min.js"></script>

    <script src="/static/js/main.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <title></title>
  </head>
  <body>
    <div class="container">

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Dashboard</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <div class="container">
        {% with flashes = get_flashed_messages(category_filter=['error']) %}
        {% if flashes %}
        <div class="alert alert-warning">
          {% for flash in flashes %}
          <h4>{{ flash }}</h4>
          {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
      </div>

      <div class="container">
        {% with flashes = get_flashed_messages(category_filter=['info']) %}
        {% if flashes %}
        <div class="alert alert-info">
          {% for flash in flashes %}
          <h4>{{ flash }}</h4>
          {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
      </div>

      <div class="container">
        <!--main content is here-->
        <div id="search">
          <form action="/search" method="POST">
            <input type="hidden" name="page_number" value="{{ page_number }}">
            <div class="input-group">
              <input id="name" type="text" name="name" placeholder="name" value="{{ search_form['name'] }}">
            </div>
            <div class="input-group date">
              <input name="from_date" type="text" class="form-control" placeholder="from date" value="{{ search_form['from_date'] }}"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
            <div class="input-group date">
              <input name="to_date" type="text" class="form-control" placeholder="to date" value="{{ search_form['to_date'] }}"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
            <input type="submit" value="Search">
          </form>
        </div>
        <div id="result">
        </div>
        <div id="result_table">
          {% for i in range(1, pages+1)%}
            <a href="#">{{ i }}</a>
          {% endfor %}
          <table class="table table-striped">
            <thead>
              <tr>
                <td>leads_id</td>
                <td>first name</td>
                <td>last name</td>
                <td>registrate datetime</td>
                <td>email</td>
              </tr>
            </thead>
            <tbody>
              {% for lead in leads %}
              <tr>
                <td>{{ lead['id'] }}</td>
                <td>{{ lead['first_name'] }}</td>
                <td>{{ lead['last_name'] }}</td>
                <td>{{ lead['created_at'] }}</td>
                <td>{{ lead['email'] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </body>
</html>
